h1
{
	color:orange
}
h1
{
	text-align:center
}
h1
{
	font-family: "Garamond"
}
h2
{
	color:orange
}
h2
{
	text-align: center 
}
body
{
  background-image: url("nezz.jpg")
}
body
{
  background-size: cover
}
h4
{
	font-family: "Century Gothic" 
}
h4
{
	text-align: center 
}
h4
{
	font-family: "Garamond"
}
h4
{
	color: orange
}

ol
{
	color: orange
}
ol
{
	font-family: "Garamond"
}
ol
{
	font-size: 40px
}
h5
{
	font-family: "Garamond" 
}
h5
{
	text-align: center
}
h5
{
	color: orange
}
