h1
{
	color: blue
}
h1
{
	text-align: center
}
h2
{
	text-align: center
}
h2
{
	font-family: "Garamond"
}
body
{
  background-image: url("petrapoz.png")
}
body
{
  background-size: cover
}
h3
{
	color:purple
}
h3
{
	text-align: center
}
